<div id="pic-slider">
  <div class="gallery clearfix">
    <div class="gallery__item">
      <div class="designExample"></div>
    </div>
    <div class="gallery__item">
      <div class="designExample"></div>
    </div>
  </div>
  <div class="gallery__controls clearfix">
    <div href="#" class="gallery__controls-prev">
      <img src="images/prev.png" alt="" />
    </div>
    <div href="#" class="gallery__controls-next">
      <img src="images/next.png" alt="" />
    </div>
  </div>
</div>

<!-- Ingredients:  -->