<% title "Projects" %>
<div id="wrap">
  <div class="topBox topImage">
    <!-- <div class="fixed-topBox"></div> -->
    <div class="mainText">Projects</div>
    <div class="desciptorText-Main">Scroll down or click
    </div>
    <div id="knearuLink" class="projectLink">
      <i class="fa fa-mobile fa-fw space-icon-out" ></i>
      Knearu
    </div>

    <div id="dayleeLink" class="projectLink">
      <i class="fa fa-mobile fa-fw space-icon-out" ></i>
      Daylee
    </div>

    <div id="fridgeLink" class="projectLink">
      <i class="fa fa-laptop fa-fw space-icon-out" ></i>
      Smart Fridge
    </div>

    <div id="compilerLink" class="projectLink">
      <i class="fa fa-laptop fa-fw space-icon-out" ></i>
      Compiler
    </div>
  </div>
  <div class="placeHoldBox">
    <div class="row">
      <div id="knearu" class="designBox2">
        <div class="col-md-6 col-xs-12" style="padding-right: 0px; padding-left: 0px;">
          <!-- <div class="designText"> -->
          <div class="mainText2" ><i class="fa fa-mobile fa-fw space-icon-out" ></i>knearu</div>
          <hr class="style-one">
          <div class="desciptorText-Main2 ">
            <div class="designList">
              iOS<p></p>Core Location<p></p>Custom UI<p></p>MapKit<p></p>Camera<p></p>
              <a href="https://github.com/Kostykins/knearu" target="_blank">
                <i class="fa fa-github fa-fw space-icon-out"></i>See it on GitHub.</a>
            </div>
          </div>
          <!-- </div> -->
        </div>
        <div class="col-md-6 col-xs-12" style="padding-right: 0px; padding-left: 0px;">
          <div class="knearuExample"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="codePlaceHoldBox">
    <div class="row">
      <div id="daylee" class="designBox2">
        <div class="col-md-6 col-xs-12" style="padding-right: 0px; padding-left: 0px;">
          <!-- <div class="designText"> -->
          <div class="mainText2" ><i class="fa fa-mobile fa-fw space-icon-out" ></i>Daylee</div>
          <hr class="style-one">
          <div class="desciptorText-Main2 ">
            <div class="designList">
              iOS<p></p>Simple<p></p>Flat UI<p></p>Validation<p></p>Font Awesome<p></p>
              <a href="https://github.com/Kostykins/Flat-UI-UITableView" target="_blank">
                <i class="fa fa-github fa-fw space-icon-out"></i>See it on GitHub.</a>
            </div>
          </div>
          <!-- </div> -->
        </div>
        <div class="col-md-6 col-xs-12" style="padding-right: 0px; padding-left: 0px;">
          <div class="designExample"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="placeHoldBox">
    <div class="row">
      <div id="fridge" class="designBox2">
        <div class="col-md-6 col-xs-12" style="padding-right: 0px; padding-left: 0px;">
          <!-- <div class="designText"> -->
          <div class="mainText2" ><i class="fa fa-laptop fa-fw space-icon-out" ></i>Smart Fridge</div>
          <hr class="style-one">
          <div class="desciptorText-Main2 ">
            <div class="designList">
              Web<p></p>Sass<p></p>AJAX<p></p>Ruby on Rails<p></p>Bootstrap<p></p>
              <a href="https://github.com/ckumar1/smart-fridge-rails" target="_blank">
                <i class="fa fa-github fa-fw space-icon-out"></i>See it on GitHub.</a>
            </div>
          </div>
          <!-- </div> -->
        </div>
        <div class="col-md-6 col-xs-12" style="padding-right: 0px; padding-left: 0px;">
          <div class="smartFridgeExample"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="codePlaceHoldBox">
    <div class="row">
      <div id="compiler" class="designBox2">
        <div class="col-md-6 col-xs-12" style="padding-right: 0px; padding-left: 0px;">
          <!-- <div class="designText"> -->
          <div class="mainText2" ><i class="fa fa-laptop fa-fw space-icon-out" ></i>Compiler</div>
          <hr class="style-one">
          <div class="desciptorText-Main2 ">
            <div class="designList">
              Java<p></p>Type Checking<p></p>Regular Expression<p></p>JLex<p></p>Cup<p></p>
              <a href="https://github.com/Kostykins/compiler" target="_blank">
                <i class="fa fa-github fa-fw space-icon-out"></i>See it on GitHub.</a>
            </div>
          </div>
          <!-- </div> -->
        </div>
        <div class="col-md-6 col-xs-12" style="padding-right: 0px; padding-left: 0px;">
          <div class="compilerExample"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
    $(document).ready(function () {
        $(window).on('beforeunload', function(){
            $(window).scrollTop(0);
        });
        if((/iPhone|iPod|iPad|Android|BlackBerry/).test(navigator.userAgent)){
            $("#knearuLink").click(function() {
                $('html, body').animate({
                    scrollTop: $("#knearu").offset().top - 20
                }, 500);
            });
            $("#dayleeLink").click(function() {
                $('html, body').animate({
                    scrollTop: $("#daylee").offset().top - 20
                }, 500);
            });
            $("#fridgeLink").click(function() {
                $('html, body').animate({
                    scrollTop: $("#fridge").offset().top - 20
                }, 500);
            });
            $("#compilerLink").click(function() {
                $('html, body').animate({
                    scrollTop: $("#compiler").offset().top
                }, 500);
            });
        } else {
            $("#knearuLink").click(function() {
                $('html, body').animate({
                    scrollTop: $("#knearu").offset().top - 100
                }, 500);
            });
            $("#dayleeLink").click(function() {
                $('html, body').animate({
                    scrollTop: $("#daylee").offset().top - 100
                }, 500);
            });
            $("#fridgeLink").click(function() {
                $('html, body').animate({
                    scrollTop: $("#fridge").offset().top - 100
                }, 500);
            });
            $("#compilerLink").click(function() {
                $('html, body').animate({
                    scrollTop: $("#compiler").offset().top
                }, 500);
            });
        }

    });
</script>
