<% title "About" %>
<div class="aboutBox topImage2">
  <!-- <div class="fixed-topBox"></div> -->
  <div class="mainText">About</div>
  <div class="desciptorText-Main">Accounts & Email</div>
  <div class="row correct-spacing"></div>
    <div class="col-md-3 col-xs-3 no-padding">
      <a href="https://twitter.com/Kostantinople" target="_blank">
      <div class="outercircle">
      <div class="bigIcon twitter">
        <i class="fa fa-twitter fa-fw space-icon-out"></i>
      </div>
      </div>
      </a>
      <p></p>
      <div class="bigIcon-Text">twitter</div>
    </div>
  <div class="col-md-3 col-xs-3 no-padding">
    <a href="https://www.facebook.com/mkostelecky" target="_blank">
    <div class="outercircle">
    <div class="bigIcon facebook">
      <i class="fa fa-facebook fa-fw space-icon-out"></i>
    </div>
    </div>
    </a>
    <p></p>
    <div class="bigIcon-Text">facebook</div>
  </div>
  <div class="col-md-3 col-xs-3 no-padding">
    <a href="https://github.com/KostyKins" target="_blank">
    <div class="outercircle">
    <div class="bigIcon github">
      <i class="fa fa-github-alt fa-fw space-icon-out"></i>
    </div>
    </div>
    </a>
    <p></p>
    <div class="bigIcon-Text">github</div>
  </div>
  <div class="col-md-3 col-xs-3 no-padding">
    <a href="mailto:mekostelecky@gmail.com?Subject=Hello" target="_top">
    <div class="outercircle">
    <div class="bigIcon email">
      <i class="fa fa-envelope fa-fw space-icon-out"></i>
    </div>
    </div>
    </a>
    <p></p>
    <div class="bigIcon-Text">email</div>
  </div>
  <div class="col-md-2"></div>
</div>
